@import "../../styles/vars";

.card {
    position: "relative";
    border-radius: $border-radius-3;
    border: solid 1px $light-gray;
    padding: $space-4;
    box-shadow: $box-shadow-heavy;
    max-width: 200px;
    background-color: white;
    justify-self: center;
}

.img {
    width: 100%;
    border-radius: $border-radius-2;
}

.title {
    font-size: $p-font-size-2;
    font-weight: 500;
    color: rgb(25, 37, 37);
    margin: $space-3 0px;
}

.description {
    font-size: $p-font-size-1;
    color: grey;
    margin: $space-3 0px;
}

.hr {
    width: 100%;
}

.price {
    font-weight: 500;
    margin: $space-3 0px;
}

.card_footer {
    display: flex;
    justify-content: space-between;
}

.favorite_btn {
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    &:hover {
        cursor: pointer;
    }
}

.favorite_img {
    width: 30px;
    height: 30px;
}
