@import "../styles/vars";
@import "../styles/mixings";

.main {
  position: relative;
  top: -$space-5;
  padding: $space-6;
  background-color: white;
  max-width: $desktop-min-screen-size;
  margin: auto;
}

.footer {
  display: flex;
  padding-bottom: $space-2;
  justify-content: center;
  align-items: center;
}
