@import "../styles/vars";

.main {
  padding: 10px;
}

.h2 {
  color: $primary-color;
  font-size: $h2-font-size;
  margin: 10px 0px;
}

.products_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
