@import "../../styles/vars";
@import "../../styles/mixings";

.h2 {
    color: $primary-color;
    font-size: $h2-font-size;
    font-weight: 500;
    margin: $space-5 0px $space-5 0px;
}

.products_container {
    padding: $space-6 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-5;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
