@import "vars";

@mixin tablet{
    @media (min-width: $tablet-min-screen-size) {
        @content
    }
}

@mixin desktop{
    @media (min-width: $desktop-min-screen-size) {
        @content
      }
}

@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;  
}