
$main-background-color: #282c34;
$primary-color: #296ef9;
$secondary-color: #61dafb;

$tablet-min-screen-size: 600px;
$desktop-min-screen-size: 800px;

$h1-font-size: 2.5em;
$h2-font-size: 1.875em;
$p-font-size: 0.875em;
